<div ng-if="field.show" class=" left {{field.cssClass}}" style="{{field.style}}" ng-class="(parentForm.save_submit && parentForm.df_form[field.modelKey+ fieldIndex].$error.required)? 'form_error_field' : '' ">
    <div class="col-md-12 padding-lftrht0">
        <div class="col-md-6 padding0">
                <div  class="text-muted ">
                {{field.title}}
                </div>
        </div>
        <div  class="col-md-6 padding0">
                <span class="full_width  text-primary labelClass" 
                id="{{field.modelKey+ fieldIndex}}"
                ng-class="{'uppercase': field.uppercase}"  
                ng-attr-title="{{field.tooltip}}"
                style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
                >{{field.modelValue}}</span>
       </div>
    </div>

</div>
