<div ng-if="field.show" class="input_field left {{field.cssClass}}" ng-class="(parentForm.save_submit && parentForm.df_form[field.modelKey+ fieldIndex].$error.required)? 'form_error_field' : ''">
    <label ng-class="{'hide' :!field.showTitle }" class="full_width">{{field.title}} <span ng-if="field.required" class="mandatory">*</span></label>
    <input type="file" class="full_width" id="{{field.modelKey+ fieldIndex}}"
           ng-class="{'uppercase': field.uppercase}" dynamic-name="field.modelKey+ fieldIndex" ng-model="field.modelValue" text-box-directive ng-required="field.required"
           ng-disabled="(field.disabled || parentForm.readOnlyForm ||(parentForm.screenMode=='EDIT' && field.disabledInEditMode)) ? true :false" dependancy-events="field.dependancyEvents" validate-undefined />
</div>