<!--div style="width:20%" ng-app add in app.js ->var app = angular.module('multiCalendarApp')  file
controller is added in main.js ->'multiCalendarController': '../directive/form/controllers/multiDatePickerController',
3. FiledDefaultController = add (multiCalendarController)
5. ,
                       'multidatepicker'
-->

<div ng-if="field.show" class="input_field left {{field.cssClass}}" ng-class="(parentForm.save_submit && parentForm.df_form[field.modelKey+ fieldIndex].$error.required)? 'form_error_field' : ''">
        <!-- {{parentForm.radioActive}}
        <label class="radio-inline" ng-hide="(parentForm.radioActive)? true :false">
                <input type="radio" name="optradio" ng-model="field.modelValue">7 days
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio"  ng-model="field.modelValue">1 Month
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio"  ng-model="field.modelValue">45 days 
        </label>   -->
    <multiple-date-picker disallow-back-past-months="field.disablePreviousMonth" dependancy-events="field.dependancyEvents" ></multiple-date-picker>
</div>