<div  ng-disabled="(field.disabled || parentForm.readOnlyForm) ? true :false" ng-show="field.show" class="select_field multiselect-design full_width left {{field.cssClass}}" ng-class="(parentForm.save_submit && parentForm.df_form[field.modelKey+ fieldIndex].$error.required)? 'form_error_field' : ''">
    <label  ng-class="{'hide' :!field.showTitle }" class="full_width">{{field.title}}<span ng-if="field.required" class="mandatory">*</span></label>
    <multiselect ng-disabled="(field.disabled || parentForm.readOnlyForm ||(parentForm.screenMode=='EDIT' && field.disabledInEditMode)) ? true :false"  dynamic-name="field.modelKey+ fieldIndex" id="{{field.modelKey+ fieldIndex}}" 
                 ng-model="field.modelValue" ng-required="field.required"  options="field.options"
                 display-prop="text" id-prop="value" show-Search="true" show-select-all="true" show-unselect-all="true"
                  dependancy-events="field.dependancyEvents"  select-all-handler="field.selectAllHandler">
    </multiselect>
  
</div>
