.radio_field label {
    font-size: 13px;
    color: #444444;
    font-weight: 600;
    margin-bottom: 13px;
    line-height: 22px;
}

    .radio_field label.radio_field_heading {
        margin-bottom: 5px;
    }

.radio_field h2 {
    font-size: 18px;
    color: #20202c;
    margin: -3px 15px 0px 0px;
    line-height: 20px;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.dynamic_radio_fields label {
    /*margin-top: 17px;*/
}
.radio_fields_wrapper label {
    margin-right: 20px;
    margin-bottom: 10px;
}
.radio_field label {
    font-size: 13px;
    color: #444444;
    font-weight: 600;
    margin-bottom: 13px;
    line-height: 22px;
}
.radio_fields_wrapper label input {
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 0px;
}
.radio_fields_wrapper label span {
    color: #3b4046;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.radio_fields_wrapper .control input:checked ~ .control__indicator {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #76787b;
}
.control input:checked ~ .control__indicator {
    /*background: #509f50;
    border: 1px solid transparent;*/
    box-shadow: none;
}
.control--radio .control__indicator {
    border-radius: 50%;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #fff;
}
.control__indicator {
    background: #fff none repeat scroll 0 0;
    height: 20px;
    position: absolute;
    /*top: 2px;
    left: 0;*/
    width: 20px;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.radio_fields_wrapper .control--radio .control__indicator::after {
    background: #76787b none repeat scroll 0 0;
    left: 5px;
    top: 5px;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.radio_fields_wrapper .control__indicator {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #76787b;
}
.radiobutn-margntop-cls {
    margin-top:20px;
}