<div ui-view="bodysection"></div>

<!-- Start of message container -->	
<!--<div class="messages_container"  ng-init="showMsg=false" ng-class="(showMsg)?'':'hide_block'">
	<div class="overlay_bg"></div>
	<div class="overlay_container message_overlay_container">
		<div class="overlay_heading full_width">
			<h3 class="left">{{messageStatus}}</h3>
			<a href="javascript:void(0);" class="close_arrow right">
				<span class="icon-circle-close"></span>
			</a>
		</div>
		<div class="overlay_content full_width">
			<div class="overlay_description full_width text-center">
				<p>{{messageText}}</p>
			</div>
			<div class="buttons_container right">
				<a class="btn green_btn no-margin" href="javascript:void(0);">
					<span class="icon-btn icon-check"></span>
					<span class="btn-text">OK</span>
				</a>
			</div>
		</div>
	</div>
</div>-->
<!-- End of message container -->	