<!-- Start of inner container -->

<div class="inner_container full_width">
  

    <!--<ids-side-menu></ids-side-menu>-->

    <div id="mainLoader" ng-show="mainLoader">
        <div class="loader_bg "></div>
        <!--	<div class="loader_container">
             <div class="loader_content full_width text-center">
                 <div class="loading-dot"></div>
                 <div class="loading-dot"></div>
                 <div class="loading-dot"></div>

             </div>
         </div> -->

        <div class="loader-container">
            <loader-section>
                <div class="loader loader-1">
                    <div class="loader-outter"></div>
                    <div class="loader-inner"></div>
                </div>
            </loader-section>

        </div>

    </div>
    <div class="page-container-fluid" ui-view="mainPagesection">
        <div class="client-head"></div>
    </div>
</div>
<!-- End of inner container -->
